@use '../variables.scss' as v;

p {
    font-family: v.$font;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
}

.about-content {
    .title {
        padding: 50px;
        text-align: center;
    }

    p {
        margin-top: 100%;
        padding: 25px;
        transition: margin 1s ease;
    }

    overflow: hidden;
    width: 100%;
    height: 100%;
}

#about-container, 
#about-content, 
.title {
    transition: v.$transition1;
}