* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #DAEFB3;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

header {
  display: block;
  margin-top: 0;
  width: 100%;
  height: 2rem;
}
header .button {
  text-align: center;
  border-radius: 100%;
  padding: 15px;
  background-color: white;
  border: none;
  color: black;
  margin-top: 1rem;
}
header .button:hover {
  background-color: #D64550;
  color: white;
  transition: all 0.4s;
}
header .button i {
  width: 100%;
  height: 100%;
  margin: auto;
}
header .container {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

.hero {
  height: 95vh;
}
.hero .container {
  display: flex;
  height: 50%;
  transition: all 0.6s ease;
}

.hero-display {
  display: block;
  width: 70%;
  height: 50%;
  margin: auto;
  margin-top: 5%;
  transition: all 0.6s ease;
}

.shape {
  width: 50%;
  border: 2px solid #DAEFB3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}

.title {
  font-size: 3.75rem;
}

.initials {
  font-size: 7.5rem;
  transition: all 0.6s;
}

.one {
  background-color: #EEF4D4;
}

.two {
  background-color: #EA9E8D;
  width: 25%;
}

.three {
  background-color: #D64550;
  width: 25%;
}

.contact {
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  background-color: white;
  margin: 0;
}
.contact h3 {
  padding: 2%;
}

#iframe-container {
  height: 50%;
  width: 60%;
  margin: auto;
}

iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  height: 20%;
  width: 100%;
  color: #1C2826;
}
.contact-container a {
  font-size: 1.5rem;
  height: 50%;
  width: 20%;
  text-align: center;
  line-height: 3.5rem;
  transition: none;
}
.contact-container a:hover {
  color: #D64550;
  font-weight: 400;
}
.contact-container a:hover i {
  color: #D64550;
}
.contact-container p {
  font-size: 1.5rem;
  height: 50%;
  width: 20%;
  text-align: center;
  line-height: 3.5rem;
  transition: none;
}
.contact-container i {
  font-size: 2.5rem;
  transition: none;
}

footer {
  display: block;
  margin-bottom: 0;
  text-align: center;
  height: 40px;
  padding: 1%;
}