.about {
    background-color: gray;
}

.banner {
    display: flex;
    justify-content: center;
    height: 400px;
    padding: 30px;
}

.banner .placeholder {
    background-color: gray;
    width: 100%;
    border: 0.1px solid darkgray;
    
}

.bio {
    padding: 10px;
    height: auto;
    width: 150%;
    background-color: darkgray;
    border-radius: 5px;
}

.bio p {
    padding: 5px;
}

h2 {
    padding: 15px;
    color: darkgray;
}