.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 640px;
    max-width: 30%;
    margin: auto;
    padding: 10px;
}

.contact-container i {
    padding:  10px;
    min-width: 200px;
    text-align: center;
    line-height: 18px;
}