.contact {
    height: 100vh;
    width: 100%;
    font-size: 2rem;
    background-color: white;
    margin: 0;
}

.contact h3 {
    padding: 2%;
}

.contact form {
    height: 50%;
    width: 45%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-around;
}

form input,
textarea {
    border: 0.5px solid #1C2826;
    background-color: #EEF4D4;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    padding: 0.5rem;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#top {
    height: 25%;
    width: 60%;
    margin: auto;
}

#bottom {
    height: 70%;
}

#bottom textarea {
    height: 85%;
    width: 65%;
}

#submit {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #1C2826;
    color: white;

}

#submit:hover {
    background-color: #D64550;
    transition: all 0.5s;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 20%;
    width: 100%;
    color: #1C2826;
}

.contact-container a, .contact-container p {
    font-size: 1.5rem;
    height: 50%;
    width: 20%;
    text-align: center;
    line-height: 3.5rem;
    transition: none;
}

.contact-container i {
    font-size: 2.5rem;
    transition: none;
}

.contact-container a:hover {
    color: #D64550;
    font-weight: 400;
}

.contact-container a:hover i {
    color: #D64550;
}


footer {
    display: block;
    margin-bottom: 0;
    text-align: center;
    height: 40px;
    padding: 1%;
}