.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 32%;
    margin-left: 34%;
    margin-right: 34%;
    padding: 30px;
}

.contact-container i {
    padding:  10px;
}