* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
    cursor: auto;
    transition: all 0.6s ease;
}

body {
    background-color: #DAEFB3;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

header {
    display: block;
    /*position: fixed;*/
    margin-top: 0;
    width: 100%;
    height: auto;
}

header .button {
    text-align: center;
    font-size: 24px;
    border-radius: 40px;
    padding: 1rem;
    background-color: white;
    border: none;
    color: black;
    margin-top: 1rem;
    width: 10%;
}

header .button:hover {
    background-color: #1C2826;
    color: #EEF4D4;
    transition: all 0.5s;
}


header .container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

header h3 {
    padding: 1rem;
}

.hero {
    height: 95vh;
}

.hero-display {
    display: block;
    width: 70%;
    height: 50%;
    margin: auto;
    margin-top: 4%;
}

.hero .container {
    display: flex;
    height: 50%;
}

.shape {
    width: 50%;
    border: 2px solid #DAEFB3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.shape h2 {
    font-size: 3.75rem;
}

.shape h1 {
    font-size: 7.5rem;
}

.one {
    background-color: #EEF4D4;
}

.two {
    background-color: #EA9E8D;
    width: 25%;
}

.three {
    background-color: #D64550;
    width: 25%;
}
