* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
}

body {
    background-color: #DAEFB3;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

header {
    display: block;
    /*position: fixed;*/
    margin-top: 0;
    width: 100%;
    height: auto;
}

header .button {
    text-align: center;
    font-size: 24px;
    border-radius: 40px;
    padding: 1rem;
    width: 10%;
    background-color: white;
    border: none;
    color: black;
    margin-top: 1rem;
}

header .button:hover {
    background-color: #1C2826;
    color: white;
    transition: all 0.5s;
}


header .container {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

header h3 {
    padding: 1rem;
}

.hero {
    height: 95vh;
}

.hero-display {
    display: block;
    width: 80%;
    height: 50%;
    margin: auto;
    margin-top: 4%;
}

.hero .container {
    display: flex;
    height: 50%;
}

.shape {
    width: 100%;
    border: 3px solid #DAEFB3;
}

#one {
    background-color: #EEF4D4;
}

#one h3 {
    margin: 16%;
}

#two {
    background-color: #EA9E8D;
}

#three {
    background-color: #D64550;
}